* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.header {
    background-color: #222222;
    padding: 19px 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));;
}
.header__wrap {
    display: flex;
    justify-content: space-between;
}
.container {
    max-width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
}
.header__logo {
    margin-right: 41px;
}

.header__item:not(:last-child) {
    margin-right: 33px;
}
.intro {
    height: 764px;
    background-color: #F1E4E6;
    box-sizing: border-box;
}
.intro__wrap {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    background-image: url('../img/man_bg.png');
    background-repeat: no-repeat;
    background-position: -212px bottom;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.intro__text {
    max-width: 377px;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}
.intro_text_style {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
}
.pink_text {
    color: #F16D7F;
}
.bold__intro {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}
.category {
margin-top: 65px;
margin-bottom: 96px;
}
.category__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;  
}
.category__item {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.category__item:not(:last-child) {
    width: 360px;
    margin-bottom: 30px;
    height: 260px;
}
.category__item_women {
    background-image: url(../img/cat_women.png);
}
.category__item_men {
    background-image: url(../img/cat_men.png);
}
.category__item_kids {
    background-image: url(../img/cat_kids.png);
}
.category__item_accesories {
    background-image: url(../img/cat_accesories.png);
}
.category__text {
    height: 50px;
}
.category__text_style {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
}

.catalog {
  
}
.catalog__heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
}
.catalog__heading__text {
   color: #222222; 
   font-style: normal;
   font-weight: normal;
   font-size: 30px;
   line-height: 36px;
}
.catalog__heading__prgph {
    color: #9f9f9f;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}
.catalog__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    width: 360px;
    height: 581px;
    margin-bottom: 30px;
    box-sizing: border-box;
}
.card_mame {
    font-size: 13px;
    line-height: 16px; 
    padding-top: 25px;
    color: #000000;
}
.prgph {
    padding-bottom: 18px;
    padding-top: 13px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}
.text__price {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}
.bottom {
   display: flex;
   align-items: center;
   justify-content: center;
   box-sizing: border-box;
}
.bottom_to_catalog {
    padding: 15px 39px;
    border: 1px solid #FF6A6A;
    text-decoration: none;
    color: #f26376;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}